<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<%- include header.ejs %>
<div class="container">
	
		<div class="list-group">
			<% games.forEach( function ( game ){ %>
		  <a  href="/chess?gameid=<%= game._id %>&playerid=<%= game.creator._id %>" class="list-group-item">
		  	Partie de <%= game.creator.pseudo %>		    
		  </a>
		<% }); %>
		</div>
		<form action="/games/create" method="post">
			<button type="submit" class="btn btn-warning btn-lg">Create game</button>
		</form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
